
// Buttons hovering etc
@mixin btn-colors($base-button) {
	&:hover {
		background-color: darken($base-button, 15%);
	}
	&:not(:disabled):not(.disabled).active,
	&:not(:disabled):not(.disabled):active,
	.show > &.dropdown-toggle {
		color: #fff;
		background-color: darken($base-button, 15%);
		border-color: darken($base-button, 15%);
	}
	&.focus,
	&:focus {
		// box-shadow: 0 0 0 .2rem transparentize($base-button, .7);
		box-shadow: none;
	}
	&.btn-primary:not(:disabled):not(.disabled):active:focus,
	&.btn-primary:not(:disabled):not(.disabled).active:focus,
	.show > &.btn-primary.dropdown-toggle:focus {
		// box-shadow: 0 0 0 .2rem transparentize($base-button, .8);
		box-shadow: none;
	}
}

// HEADERS important
h2:first-child, h3:first-child, h4:first-child, h5:first-child,
h1 + h2, h2 + h3, h3 + h4, h4 + h5 {
	margin-top: 0;
}

// Links
@mixin link-style($link-color, $link-hover-color) {
	text-decoration: none;
	color: $link-color;
	border-bottom: 1px solid transparentize($link-color, .7);
	transition-duration: .33s;
	transition-timing-function: ease-out;
	transition-property: border-bottom,border-color,background,color,fill;

	&.dotted{
		border-bottom-style: dotted !important;
	}

	&:hover {
		color: $link-hover-color;
		border-bottom-color: transparentize($link-hover-color, 0) !important;
		text-decoration: none;
		transition: none;
	}

	&.btn, &.btn:hover {
		border: none;
	}
}