@font-face {
	font-family: 'RFDewiExpanded';
	src: url('../fonts/RFDewiExpanded-Semibold.WOFF') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RFDewiExpanded';
	src: url('../fonts/RFDewiExpanded-Black.WOFF') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'RFDewi';
	src: url('../fonts/RFDewi-Black.WOFF') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'RFDewi';
	src: url('../fonts/RFDewi-Semibold.WOFF') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RFDewiExtended';
	src: url('../fonts/RFDewiExtended-Semibold.WOFF') format('woff');
	font-weight: bold;
	font-style: normal;
}


body{
	font-family: 'RFDewi';
	font-size: 18px;
}

header{
	background-color: $light-pink;
}

h1, .h1{
	font-family: 'RFDewiExpanded';
	font-weight: bold;
	font-size: 124px;
	line-height: 80px;
	margin-left: -8px;
	letter-spacing: -5px;
	margin-bottom: 30px;
}

h2, .h2{
	font-family: 'RFDewiExpanded';
	font-weight: bold;
	font-size: 48px;
	line-height: 40px;
	margin-left: -.2rem;
	margin-bottom: 10px;
	transform: translateY(-5px);
	&.light{
		font-weight: normal;
	}
}

h3{
	font-size: 18px;
	font-family: 'RFDewi';
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 20px;
}

p{
	line-height: 1.2;
	margin-bottom: 10px;
	max-width: 1000px;
	&:last-child{
		margin-bottom: 0;
	}
}

.lead{
	font-size: 28px;
	line-height: 1.08;
	font-family: 'RFDewiExtended';
}

.pic{
	width: 100%;
	height: 100%;
}

.main-about{	
	.top-head{
		margin-bottom: 50px;
	}
}

.compensate{
	margin-left: .5rem;
}

main{
	background-color: $light-pink;
}

.container{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 1280px;
	position: relative;
	@include media-breakpoint-up(lg) {
		padding-right: 270px;
	}
}

.innertube{
	padding: 20px;
}

section{
	.container{
		background-color: white;
	}
}

img{
	max-width: 100%;
	height: auto;
}

.modal-lg, .modal-xl {
	max-width: none;
	margin: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	// transform: translate(0, 50px) !important;
}

// Video hidden
.wrapper {
	width: 100%;
}

.box {
	position: relative;
	padding-bottom: 56.25%;
}

.video,
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.overlay {
	background: red;
	cursor: pointer;
	&.is__hidden {
		display: none;
	}
}
// Video hidden

.play{
	border: 70px solid transparent;	
	border-left: 140px solid white;
	position: absolute;
	bottom: 40px;
	left: 20px;
	&::after{
		content: 'О курсе';
		position: absolute;
		font-family: 'RFDewiExpanded';
		top: -15px;
		left: -130px;
		font-size: 18px;
	}
}

.price{
	display: flex;
	.sum{
		font-family: 'RFDewi';
		font-weight: bold;
		font-size: 90px;
		letter-spacing: -5px;
		line-height: 100%;
	}
	.curr{
		font-family: 'RFDewi';
		font-size: 34px;
	}
}

.side-price{
	position: absolute;
	top: 0;
	right: 0;
	width: 270px;
	background-color: $light-pink;
	z-index: 1;
	padding: 10px;
	display: none;

	@include media-breakpoint-up(lg) {
	height: 140vh;
		display: block;
	}

	@include media-breakpoint-up(xl) {
	height: 160vh;
		display: block;
	}

	.price{
		.sum{
			margin-right: 5px;
		}
	}
	.head{
		font-family: 'RFDewiExtended';
		font-weight: bold;
		font-size: 30px;
		line-height: 105%;
		margin-bottom: 32px;
	}
	.feature{
		border-top: 1px solid rgba(0, 0, 0, .2);
		margin-bottom: 32px;
		padding-top: 5px;
	}
	button{
		@include btn-colors($crimson);
		border-radius: 0;
		background-color: $crimson;
		font-family: 'RFDewiExtended';
		font-weight: bold;
		font-size: 26px;
		border: none;
		height: 60px;
		padding-bottom: 10px;
		&:hover{
			background-color: darken($crimson, 10%);
		}
	}
}

.author{
	.row{
		margin: 0 -10px;
	}
	.col-6{
		padding: 0 10px;
	}
}

.week{
	@include make-row();
	min-height: 100px;
	margin: 20px 0 0 0;
	.pic{
		@include make-col(8);
		// height: 460px;
	}
	.desc{
		@include make-col(4);
		position: relative;
		.h1{
			margin-left: 0;
		}
	}
	// &.first, &.third{
	// 	.desc{
	// 		padding-left: 20px;
	// 	}
	// }
	// &.second, &.fourth{
		.desc{
			padding-right: 20px;
		}
	// }
}

.how-to, .whenever{
	.row{
		margin-right: -5px;
		margin-left: -5px;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
		.col-6{
			padding-right: 5px;
			padding-left: 5px;
		}
	}
	.innertube{
		// padding-bottom: 0;
	}
}

.whenever{
	.row{
		margin-bottom: 10px;
	}
	.col-12{
		padding: 0 5px;
	}
}

footer{
	.container{
		background-color: $secondary;
		color: white;
	}
	position: relative;
	z-index: 2;
}

.tariffs{
	@include make-row();
	margin: 0 -10px;
	.tarif{
		@include make-col(5);
		padding: 0 10px;
	}
}









