// @font-face {
// 	font-family: 'RFDewiExpanded';
// 	src: url('../fonts/RFDewiExpanded-Semibold.WOFF') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }
@font-face {
	font-family: 'RFDewiExpanded';
	src: url('../fonts/RFDewiExpanded-Black.WOFF') format('woff');
	font-weight: bold;
	font-style: normal;
}
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic');// @font-face {
// 	font-family: 'RFDewi';
// 	src: url('../fonts/RFDewi-Black.WOFF') format('woff');
// 	font-weight: bold;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'RFDewi';
// 	src: url('../fonts/RFDewi-Semibold.WOFF') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }
@font-face {
	font-family: 'RFDewiExtended';
	src: url('../fonts/RFDewiExtended-Semibold.WOFF') format('woff');
	font-weight: bold;
	font-style: normal;
}


body{
	// font-family: 'RFDewi';
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	background-color: $light-pink;
	color: black;

	@include media-breakpoint-down(md) {
		font-size: 16px;
		background-color: white;
	}
}

header{
}

h1, .h1{
	font-family: 'RFDewiExpanded';
	font-weight: bold;
	font-size: 124px;
	line-height: 80px;
	margin-left: -8px;
	letter-spacing: -5px;
	margin-bottom: 30px;

	@include media-breakpoint-down(md) {
		font-size: 54px;
		letter-spacing: -3px;
		line-height: 40px;
		margin-bottom: 15px;
	}
}

h2, .h2{
	font-family: 'RFDewiExpanded';
	font-weight: bold;
	font-size: 48px;
	line-height: 40px;
	margin-left: -.2rem;
	margin-bottom: 10px;
	transform: translateY(-5px);
	&.light{
		font-weight: normal;
	}

	@include media-breakpoint-down(md) {
		font-size: 24px;
		line-height: .9;
	}
}

h3{
	font-size: 18px;
	// font-family: 'RFDewi';
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 20px;
}

p{
	line-height: 1.2;
	margin-bottom: 10px;
	// max-width: 860px;
	&:last-child{
		margin-bottom: 0;
	}
}

section{
	padding-bottom: 20px;
	&.faq{
		padding-bottom: 40px;
	}
	p{
		&:last-child{
			margin-bottom: -4px;
		}
	}
}

.invert{
	color: white;
}

a{
	@include link-style(black, $crimson);
	.invert &{
		@include link-style(white, white);
	}

	&.icon{
		border: none;
		display: inline-block;
		width: 50px;
		height: 50px;
		@include media-breakpoint-down(md) {
			width: 40px;
			height: 40px;
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
}

.lead{
	font-size: 28px;
	line-height: 1.08;
	font-family: 'RFDewiExtended';
	font-weight: bold;
	margin-bottom: 20px;

	@include media-breakpoint-down(md) {
		font-size: 20px;
		line-height: 1.05;
		margin-bottom: 10px;
	}
}

.pic{
	width: 100%;
	height: 100%;
}

.main-about{	
	.top-head{
		margin-bottom: 50px;
		@include media-breakpoint-down(md) {
			margin-bottom: 20px;
		}
	}
}

.compensate{
	margin-left: .5rem;
	@include media-breakpoint-down(md) {
		margin-left: .25rem;
	}
}

main{
	// background-color: $light-pink;
}

.container{
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 1280px;
	position: relative;

	body > &{
		display: flex;
	}
	@include media-breakpoint-up(lg) {
		// padding-right: 270px;
	}
}

main{

}

.innertube{
	padding: 10px;
	@include media-breakpoint-down(md) {
		padding: 10px;
	}
}

section{
	// .container{
		background-color: white;
	// }
}

img{
	max-width: 100%;
	height: auto;
}

.modal-lg, .modal-xl {
	max-width: none;
	margin: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.modal.buying{
	.modal-content{
		background-color: $secondary;
		border-radius: 0;
		border: none;
	}
	.container{
		@include media-breakpoint-up(lg) {
			padding-right: 270px;
		}
	}

	button.close{
		width: 60px;
		height: 60px;
		position: absolute;
		right: 0;
		font-size: 95px;
		line-height: 60%;
		font-weight: 500;
		text-shadow: none;
		opacity: 1;
		z-index: 1100;
		transition-duration: .33s;
	transition-timing-function: ease-out;
		&:hover{
			color: white;
			opacity: 1;
			transition: none;
		}
	}
}

// Video hidden
.wrapper {
	width: 100%;
}

.box {
	position: relative;
	padding-bottom: 56.25%;
}

.video,
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.overlay {
	background: white;
	// cursor: pointer;
	&.is__hidden {
		display: none;
	}
	&:hover .play{
		border-left-color: black;
		transition: none;
		&::after{
			color: white;
		}
	}
}
// Video hidden

.play{
	border: 70px solid transparent;	
	border-left: 140px solid $crimson;
	position: absolute;
	bottom: 40px;
	left: 20px;
	transition-duration: .33s;
	transition-timing-function: ease-out;

	&::after{
		content: 'О курсе';
		position: absolute;
		font-family: 'RFDewiExtended';
		top: -15px;
		left: -125px;
		font-size: 18px;
		color: white;
	}

	@include media-breakpoint-down(md) {
		border: 50px solid transparent;	
		border-left: 100px solid $crimson;		
		bottom: 20px;
		left: 10px;
		&::after{
			top: -12px;
			left: -90px;
			font-size: 14px;
		}
	}
}

.price{
	display: flex;
	.sum{
		font-family: 'RFDewiExpanded';
		// font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 69px;
		letter-spacing: -2px;
		line-height: 100%;
		@include media-breakpoint-down(md) {
			font-size: 68px;
			letter-spacing: -3px;
			line-height: 75%;
			margin-bottom: 5px;
		}
	}
}


// PRICING
button.cta,
.signup-form .button{
	@include btn-colors(black);
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: $crimson;
	font-family: 'RFDewiExtended';
	font-weight: bold;
	font-size: 26px;
	border: none;
	height: 50px;
	padding: 0 20px;
	// padding-bottom: 5px;

	@include media-breakpoint-up(lg) {
		height: 60px;
		width: 250px;
		padding-bottom: 5px;
	}
}

.pricing{
	top: 0;
	right: 0;
	background-color: $light-pink;
	z-index: 1;
	padding: 10px;
	// display: none;

	&.inline{
		@include media-breakpoint-up(lg) {
			display: none;
		}
		@include media-breakpoint-down(md) {
			display: block;
		}
		margin-bottom: 20px;

		button{
			height: 60px;
			padding-bottom: 5px;
		}
	}

	&.side{
		padding-top: 5px;
		@include media-breakpoint-down(md) {
			display: none;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			width: 270px;
			max-width: 270px !important;
			position: -webkit-sticky;
			position: sticky;
			height: 110vh;
		}
		.sum{
			line-height: 90%;
			margin-bottom: 0;
		}
	}

	.sum{
		margin-right: 2px;
		// font-family: 'RFDewiExtended';
	}
	.curr{
		font-family: 'RFDewiExtended';
		// font-family: 'Montserrat', sans-serif;
		font-size: 34px;
		margin-top: -5px;
		@include media-breakpoint-down(md) {
			font-family: 'RFDewiExpanded';
			// font-size: 24px;
			font-size: 68px;
			line-height: 75%;
			margin-bottom: 5px;
			margin-left: 5px;
			margin-top: 0px;		}
		}
		.head{
		// font-family: 'RFDewiExtended';
		// font-weight: bold;
		// font-size: 30px;
		// line-height: 105%;
		margin-bottom: 30px;
		@include media-breakpoint-down(md) {
			font-size: 20px;
			line-height: 1.05;
			margin-bottom: 15px;
		}
	}
	.feature{
		border-top: 1px solid rgba(0, 0, 0, .2);
		margin-bottom: 32px;
		padding-top: 5px;
	}
	button.cta{
		background-color: $secondary-accent;
		margin-bottom: 10px;
		transition-duration: .33s;
		transition-timing-function: ease-out;
		&:hover{
			background-color: $crimson;
			color: white;
			transition: none;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 5px;
			width: 100%;
		}
	}
}
// PRICING

// FORMS
.signup-form{
	font-family: 'RFDewiExtended';
	font-weight: bold;
	font-size: 26px;
	padding-top: 5px;
	margin-bottom: 10px;

	@include media-breakpoint-down(md) {
		font-size: 16px;
	}

	.wrapper{
		display: flex;
		width: 100%;
	}
	label{
		display: none;
	}
	input{
		border: none;
		padding-bottom: 5px;
	}
	.email{
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
		height: 50px;
		border-radius: 0;

		@include media-breakpoint-up(lg) {
			height: 60px;
		}
	}
	.button{
		color: white;
		background-color: $secondary-accent;
		transition-duration: .33s;
		transition-timing-function: ease-out;
		&:hover{
			color: white;
			background-color: $tertiary-accent;
			transition: none;
		}

		@include media-breakpoint-down(md) {
			font-size: 16px;
		}
	}
}
// FORMS

.author{
	.row{
		margin: 0 -10px;
		div{
			padding: 0 10px;
		}
	}
	.text{
		@include media-breakpoint-down(md) {
			order: 2;
		}
	}
	.photo{
		@include media-breakpoint-down(md) {
			min-height: 500px;
			margin-bottom: 20px;
		}
	}
}

.program{
	.lead{
		// margin-bottom: -4px;
	}
	padding-bottom: 10px;
	@include media-breakpoint-up(lg) {
		padding-bottom: 20px;
	}
}

.week{
	@include make-row();
	min-height: 100px;
	margin: 10px 0 0 0;
	.pic{
		@include make-col(8);
		// height: 460px;
		@include media-breakpoint-down(md) {
			@include make-col(12);
		}
	}
	.desc{
		@include make-col(4);
		position: relative;
		padding-right: 20px;
		margin-bottom: -4px;
		.h1{
			margin-left: 0;
			margin-bottom: 20px;
		}
		@include media-breakpoint-down(md) {
			@include make-col(10);
			order: 2;
			display: flex;
			padding: 10px 0 15px 0;
			// margin-bottom: 0;
			.lead{
				font-family: 'Montserrat', sans-serif;
				// font-size: 16px;
				font-weight: normal;
				align-self: flex-end !important;
				margin-bottom: -5px;
			}
			.h1{
				margin-right: 10px;
				margin-bottom: 0;
			}
		}
	}

	.lead{
		margin-bottom: 0;
	}

}

.how-to, .whenever{
	.row{
		margin-right: -5px;
		margin-left: -5px;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
		.col-6{
			padding-right: 5px;
			padding-left: 5px;
		}
	}
	.innertube{
		// padding-bottom: 0;
	}
}

.whenever{
	margin-bottom: 10px;
	.row{
		margin-bottom: 10px;
	}
	.col-12{
		padding: 0 5px;
	}
}

.whatsapp{

	.content{
		@include make-row();
		margin: 0 -10px;
	}
	.text{
		@include make-col(8);
		padding: 0 10px;
		display: flex;
		flex-direction: column !important;
	}
	.pic{
		@include make-col(4);
		padding: 0 10px;
	}

	@include media-breakpoint-down(md) {
		background-color: $crimson;
		color: white;
		padding-bottom: 0;
		margin-bottom: 20px;
		.innertube{
			padding-bottom: 0;
		}

		.text{
			@include make-col(12);
			margin-bottom: 20px;
		}

		.pic{
			@include make-col(12);
			// max-height: 90vh;
			// height: 620px;
			// overflow: hidden;
		}
	}
}

footer{
	background-color: $secondary;
	position: relative;
	z-index: 2;

	.container{
		// max-width: 1280px;
		@include media-breakpoint-up(lg) {
			padding-right: 270px;
		}
	}
	h3{
		margin-top: 0;
	}

	.bottom{
		@include make-row();
		margin: 0 -10px;
		margin-top: 110px;
		.left{
			@include make-col(7);
			padding: 0 10px;
		}
		.right{
			@include make-col(5);
			padding: 0 10px;
			text-align: right;
			a{
				margin-left: 5px;
				margin-bottom: 2px;
			}
		}
	}

	.buy{
		// margin-bottom: 110px;
	}
}

.tariffs{
	@include make-row();
	margin: 0 -10px;
	padding-top: 45px;
	padding-bottom: 25px;
	@include media-breakpoint-down(md) {
		padding-bottom: 20px;
	}
	.tarif{
		@include make-col(12);
		padding: 0 10px;

		@include media-breakpoint-up(lg) {
			@include make-col(6);
		}

		@include media-breakpoint-up(xl) {
			@include make-col(5);
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 20px;
		}
	}
	.close-rouble{
		letter-spacing: -15px;
	}
}









